.col {
  flex: 0 0 25%;
  width: 250px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  padding-top: 20px;
}

.btn-icon {
  float: right;
}


.cover-container {
  max-width: 42em;
}
.ml-auto, .mx-auto {
  margin-left: auto!important;
}
.mr-auto, .mx-auto {
  margin-right: auto!important;
}
.p-3 {
  padding: 1rem!important;
}
.h-100 {
  height: 100%!important;
}
.flex-column {
  -webkit-box-orient: vertical!important;
  -webkit-box-direction: normal!important;
  -ms-flex-direction: column!important;
  flex-direction: column!important;
}
.d-flex {
  display: -webkit-box!important;
  display: -ms-flexbox!important;
  display: flex!important;
}

.cap {
  background-color: rgb(248, 250, 251);
}

.navbar {
  background-color: rgb(104, 121, 235);
  
}

.nav-link {
  color:rgb(248, 250, 251);
}

.navbar-brand {
  color:rgb(248, 250, 251);
}

.btn-primary {
  background-color: rgb(104, 121, 235);
  --bs-btn-color: #fff;
  --bs-btn-bg: #ccc;
  --bs-btn-border-color: rgb(104, 121, 235);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(79 98 230);
  --bs-btn-hover-border-color: rgb(79 98 230);
}

.btn-outline-success {
  --bs-btn-color: #fff;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: rgb(79 98 230);
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #fff;
}

#photo_choices {
  max-width:50%;
  min-height: 100px;
  max-height: 150px;
}

.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; height:150px;}
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left; padding-left: 10px;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; color:#666; font-size: xx-small; }
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }