{% extends 'base.html' %}
{% block title %}Postcrafts{% endblock %}
{% block head %}
{% endblock%}
{% block body %}

<h1>Address Book</h1>
<a href="/{{user.user_id}}">Go back to your profile</a>
<p>Add family and friends to your contacts.</p>
  <form action="/addcontact" method="POST">
  <label for="name">Name:</label><input type="text" name="name"/>
  <label for="phone_number">Phone number:</label>
  <input type="tel" id="phone_number" name="phone_number"
  pattern="[0-9]{10}"
  required size="20" minlength="10" maxlength="10" placeholder="2223334444">
  <!-- <label for="street_address">Street address:</label><input type="text" name="street_address"/>
  <label for="city">City:</label><input type="text" name="city"/>
  <label for="state">State:</label><select name="state">
    <option value="AL">AL</option>
    <option value="AK">AK</option>
    <option value="AR">AR</option>	
    <option value="AZ">AZ</option>
    <option value="CA">CA</option>
    <option value="CO">CO</option>
    <option value="CT">CT</option>
    <option value="DC">DC</option>
    <option value="DE">DE</option>
    <option value="FL">FL</option>
    <option value="GA">GA</option>
    <option value="HI">HI</option>
    <option value="IA">IA</option>	
    <option value="ID">ID</option>
    <option value="IL">IL</option>
    <option value="IN">IN</option>
    <option value="KS">KS</option>
    <option value="KY">KY</option>
    <option value="LA">LA</option>
    <option value="MA">MA</option>
    <option value="MD">MD</option>
    <option value="ME">ME</option>
    <option value="MI">MI</option>
    <option value="MN">MN</option>
    <option value="MO">MO</option>	
    <option value="MS">MS</option>
    <option value="MT">MT</option>
    <option value="NC">NC</option>	
    <option value="NE">NE</option>
    <option value="NH">NH</option>
    <option value="NJ">NJ</option>
    <option value="NM">NM</option>			
    <option value="NV">NV</option>
    <option value="NY">NY</option>
    <option value="ND">ND</option>
    <option value="OH">OH</option>
    <option value="OK">OK</option>
    <option value="OR">OR</option>
    <option value="PA">PA</option>
    <option value="RI">RI</option>
    <option value="SC">SC</option>
    <option value="SD">SD</option>
    <option value="TN">TN</option>
    <option value="TX">TX</option>
    <option value="UT">UT</option>
    <option value="VT">VT</option>
    <option value="VA">VA</option>
    <option value="WA">WA</option>
    <option value="WI">WI</option>	
    <option value="WV">WV</option>
    <option value="WY">WY</option>
  </select>	
  <label for="zipcode">5-digit zipcode:</label><input type="number" maxlength="5" name="zipcode"/> -->

  <button id="add_contact">Add Contact</button>
  </form>
  {% for contact in contacts %}
    <form action="/hidecontact/{{contact.contact_id}}" method="POST">
    <p><b>{{ contact.recipient }}</b></p>
    <p>{{contact.phone_number}}</p>
    <!-- <p>{{ contact.street_address }}</p>
    <p>{{ contact.city }}, {{contact.state}} {{contact.zipcode}}</p> -->
    <button name="hide_contact">Delete Contact</button>
    </form>
  {% endfor %} 





{% endblock %}