{% extends 'base.html' %}
{% block title %}Postcrafts{% endblock %}
{% block head %}

{% endblock%}
{% block body %}
<div>
<h1>All Templates</h1>
<form action="/templates">
  <input type="search" name="template_search" id="templateSearch" placeholder="Find a template..."/>
  <button type="submit">Search</button><a href="/templates">Clear search</a>
</form>

<div id="templates"></div>

{% for template in templates %}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ template.url }}" >
  <div class="card-body">
    <h5 class="card-title">{{template.title}}</h5>
    <form action="/savetemplate/{{template.card_id}}" method="POST">  
      <button class="btn btn-primary" name="save_template">Add to Your Cards</button>
    </form>
  </div>
</div>

{% endfor %}


{% endblock %}
