{% extends 'base.html' %}
{% block title %}Postcrafts{% endblock %}
{% block head %}

{% endblock%}
{% block body %}
<section class="cap">
<div class="py-5 container text-center">
<h1 class="jumbotron-heading">All Templates</h1>
<form action="/templates">
  <input type="search" name="template_search" id="templateSearch" placeholder="Find a template..."/>
  <button class="btn btn-primary" type="submit">Search</button>
  <a href="/templates">Clear</a>
</form>
</section>
<div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4">
{% for template in templates %}
<div class="col">
  <h5 class="card-title">{{template.title}}</h5>
  <div class="card box-shadow" >
   <img class="card-img-top" src="{{ template.url }}" >
    <div class="card-body">
      <form action="/savetemplate/{{template.card_id}}" method="POST">  
      <button class="btn btn-primary" name="save_template">Add to Your Cards</button>
      </form>
    </div>
  </div>
</div>

{% endfor %}
</div>
</div>
</div>
{% endblock %}
