{% extends 'base.html' %}
{% block title %}Postcrafts{% endblock %}
{% block head %}



<script src="https://scaleflex.cloudimg.io/v7/plugins/filerobot-image-editor/latest/filerobot-image-editor.min.js"></script>

{% endblock%}
{% block body %}


  <h1>Edit a Card</h1> 

  <h2>Edit your card, then save any changes.</h2>

  
  <!-- add image editor File Robot here -->
  
  <div id="editor_container"></div>

  

 
  {% block after_body %}
  <script type="module" src="/static/file_robot_edit.js"></script>

  {% endblock %}
{% endblock %}