{% extends 'base.html' %}
{% block title %}Postcrafts{% endblock %}
{% block head %}



<script src="https://scaleflex.cloudimg.io/v7/plugins/filerobot-image-editor/latest/filerobot-image-editor.min.js"></script>

{% endblock%}
{% block body %}

<div class="container text-center">
  <h1 class="jumbotron-heading">Edit a Card</h1>
  <p class="lead text-muted">Edit your card, then save any changes.</p>
</div>


  
  <!-- add image editor File Robot here -->
  <div class="container text-center">
    <div id="editor_container"></div>
  </div>

  

 
  {% block after_body %}
  <script type="module" src="/static/file_robot_edit.js"></script>

  {% endblock %}
{% endblock %}