{% extends 'base.html' %}
{% block title %}Postcrafts{% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-lg">

  <a class="navbar-brand" href="/"><img class="logo-image" src="/static/images/send.png" style="display: inline-block;">
    <span style="display: inline-block;">Postcrafts</span></a>
 
    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <button class="btn btn-outline-success me-2 text-end" data-bs-toggle="modal" data-bs-target="#create_account">Sign Up</button>
    </ul>

</div>
</nav>
{% endblock %}
{% block body %}
<body style="position: initial; overflow: initial;">

<div class="bg">
<div class="container text-center login">

  

  <h2>Create. Send. Celebrate.</h2>
  <p>Let family and friends know you are thinking of them by sending an e-card.</p>

  <form action="/login" method="POST">
    <p>
      <input type="text" name="email" placeholder="Email" aria-label="Email">
    </p>

    <p>
      <input type="password" name="password" placeholder="Password" aria-label="Password">
    </p>

    <p>

      <button type="submit" class="btn btn-primary">Log In</button>
    </p>
  </form>


</div>
</div>
<div class="modal" id="create_account" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create an Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body text-center">
          <form action="/users" method="POST">
            <p>
             <input name="email" placeholder="Email" aria-label="Email">
            </p>

            <p>
              <input type="password" name="password" placeholder="Password" aria-label="Password">
            </p>

          
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Create Account</button></div>
          </form> 

      </div>
  </div>
</div>
</div>
</body>

{% endblock %}
{% block footer %}
{% endblock %}