{% extends 'base.html' %}
{% block title %}Postcrafts{% endblock %}
{% block navbar %}{% endblock %}
{% block body %}

<div class="container text-center">
  <h1 class="jumbotron-heading">Postcrafts</h1>
  </div>



<body class="text-center" style="position: initial; overflow: initial;">

  

  <h1>Create. Send. Celebrate.</h1>
  <p>Let family and friends know you are thinking of them by sending a card.</p>

  <form action="/login" method="POST">
    <p>
      <input type="text" name="email" placeholder="Email" aria-label="Email">
    </p>

    <p>
      <input type="password" name="password" placeholder="Password" aria-label="Password">
    </p>

    <p>

      <button type="submit" class="btn btn-primary">Log In</button>
    </p>
  </form>
  <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#create_account">Sign Up</button> 

  <div class="modal" id="create_account" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create an Account</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
  <form action="/users" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

  
  <div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  <button type="submit" class="btn btn-primary">Create Account</button></div>
</form> 

</div>
</div>
</div>
</div>
</body>
{% endblock %}