{% extends 'base.html' %}
{% block title %}Postcrafts{% endblock %}
{% block head %}



<script src="https://scaleflex.cloudimg.io/v7/plugins/filerobot-image-editor/latest/filerobot-image-editor.min.js"></script>



{% endblock%}
{% block body %}


  <h1>Create a New Card</h1> 

  <h2>1. Choose an image.</h2>

  <input type="search" name="photo_query" id="photoQuery" placeholder="Search for photos..."/>
  <button name="find_photos" id="findPhotos" >Find Photos</button>
  <div id="photo_choices"></div>
  


  <h2>2. Edit card.</h2>
  <!-- add image editor File Robot here -->
  
  <div id="editor_container"></div>


 
  {% block after_body %}
  <script type="module" src="/static/file_robot.js"></script>

  {% endblock %}
{% endblock %}