{% extends 'base.html' %}
{% block title %}Postcrafts{% endblock %}
{% block head %}

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://scaleflex.cloudimg.io/v7/plugins/filerobot-image-editor/latest/filerobot-image-editor.min.js"></script>
<script src="/static/carousel.js"></script>


{% endblock%}
{% block body %}

<section class="cap">
<div class="py-5 container text-center">
  <h1 class="jumbotron-heading">Create a New Card</h1> 

  <p  class="lead text-muted">Find an image, then edit your card.</p>
  
  <input type="search" name="photo_query" id="photoQuery" placeholder="Search for photos..."/>
  <button class="btn btn-primary" name="find_photos" id="findPhotos">Find Photos</button>
</section>
  

  <div class="container" id="photo_choices" style="display:none">
    <div class="row">
      <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000" >
            <div class="MultiCarousel-inner">
                
            </div>
            <button class="btn btn-primary leftLst"><</button>
            <button class="btn btn-primary rightLst">></button>
      </div>
    </div>
    </div>
  </div>

</div>
  <!-- add image editor File Robot here -->
  <div class="container text-center">
    <div id="editor_container"></div>
  </div>
  

 
  {% block after_body %}
  <script type="module" src="/static/file_robot_new.js"></script>
  

  {% endblock %}
{% endblock %}