{% extends 'base.html' %}
{% block title %}Postcrafts{% endblock %}
{% block head %}



<script src="https://scaleflex.cloudimg.io/v7/plugins/filerobot-image-editor/latest/filerobot-image-editor.min.js"></script>



{% endblock%}
{% block body %}


  <h1>Create a New Card</h1> 

  <p>Find an image, then edit your card.</p>
  
  <input type="search" name="photo_query" id="photoQuery" placeholder="Search for photos..."/>
  <button name="find_photos" id="findPhotos">Find Photos</button>

  <div id="photo_choices"></div>
  
  <!-- add image editor File Robot here -->
  
  <div id="editor_container"></div>

  

 
  {% block after_body %}
  <script type="module" src="/static/file_robot_new.js"></script>

  {% endblock %}
{% endblock %}