{% extends 'base.html' %}
{% block title %}Postcrafts{% endblock %}
{% block head %}
{% endblock%}
{% block body %}

<h1>Outbox</h1>
<p>Here are all the cards you've sent. </p>

<table class="table table-striped mt-3">
  <thead>
  <tr>
      <th>Card</th>
      <th>Recipient</th>
      <th>Message</th>
      <th>Date Sent</th>

  </tr>
  </thead>
  <tbody>
  {% for sent_card in sent_cards %}
  <tr>
      <td><img src={{sent_card.get_url()}} width="150"/> </td>
      <td>{{ sent_card.get_recipient() }}</td>
      <td>{{ sent_card.message }}</td>
      <td>{{ sent_card.date_sent }}</td>
  </tr>
  {% endfor %}

  </tbody>
</table>




{% endblock %}