{% extends 'base.html' %}
{% block title %}Postcrafts{% endblock %}
{% block head %}
{% endblock%}
{% block body %}

<section class="cap">
<div class="py-5 container text-center">
  <h1 class="jumbotron-heading">Outbox</h1>
  <p class="lead text-muted">Take a walk down memory lane with the cards you've sent.</p>
</div>
</section>
<h2 class="text-center">Sent Cards</h2>
{% if sent_cards|length == 0 %}
<p class="text-center">Don't be shy! <a href="/templates">Pick a card</a> and send it today.</p> 

{% else %}
<div class="container">
<table class="table table-striped mt-3 text-left">
  <thead>
  <tr>
      <th>Card</th>
      <th>Recipient</th>
      <th>Message</th>
      <th>Date Sent</th>

  </tr>
  </thead>
  <tbody>
  {% for sent_card in sent_cards %}
  <tr>
      <td><img src={{sent_card.get_url()}} width="150"/> </td>
      <td>{{ sent_card.get_recipient() }}</td>
      <td>{{ sent_card.message }}</td>
      <td>{{ sent_card.date_sent }}</td>
  </tr>
  {% endfor %}
{%endif%}
  </tbody>
</table>
</div>



{% endblock %}