{% extends 'base.html' %}
{% block title %}Postcrafts{% endblock %}
{% block head %}
{% endblock%}
{% block body %}
<div class="container text-center">
  <h1 class="jumbotron-heading">Send Your Card</h1>
  <p class="lead text-muted">Send this card to a contact in your Address Book.</p>
</div>

<div class="container" >

<div class="row ">
<div class="col">
<img src="{{ card.url }}" width="300" >
</div>
<div class="col">
<form action="/add_sentcard/{{card.card_id}}" method="POST">
<div>
  <label for="contact"><h2>1. Pick a Recipient.</h2></label>
  <p>
  <select name="contact">
    {% for contact in contacts %}
      <option value="{{contact.contact_id}}">{{ contact.recipient }}</p>
    {% endfor %}  
  </select>
  </p>
  </div>
  <div>
    <label for="medium"><h2>2. Text or Email?</h2></label>
    <div>
    <input type="radio" id="html" name="medium" value="text">
    <label for="html">Text</label><br>
    <input type="radio" id="css" name="medium" value="email">
    <label for="css">Email</label>
  </div>
  </div>
<div>
<label for="message"><h2>3. Add a Message.</h2></label>
<p>Write a message for your card. (280 character limit)</p>
<textarea name="message" rows="8" cols="45" maxlength="280"></textarea>
</div>

<button type="submit" class="btn btn-primary">Ship it!</button> 
</form>

</div>
</div>
</div>

{% endblock %}