{% extends 'base.html' %}
{% block title %}Postcrafts{% endblock %}
{% block head %}
{% endblock%}
{% block body %}



  <div class="container text-center">
    <h1 class="jumbotron-heading">Postcrafts</h1>
    <p class="lead text-muted">Create a brand new card or pick a template.</p>
    <p>
      <a href="/{{user.user_id}}/new_card" class="btn btn-primary my-2">Create Card</a>
      <a href="/templates" class="btn btn-secondary my-2">Browse Templates</a>
    </p>
  </div>



<h2 class="text-center">Your Cards</h2>
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    

{% for card in cards %}

<div class="col">
  <h5 class="card-text text-center">{{card.title}}</h5>
  <div class="card box-shadow">
    
    <img class="card-img-top"  src="{{ card.url }}" alt="Card image cap">
    <div class="card-body">
      
      
      <div class="btn-group">
      <button name="publish" id="publish" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#addKeywords{{card.card_id}}">Publish</button>
      <a class="btn btn-sm btn-outline-secondary" href="/sendcard/{{card.card_id}}">Send</a>
      <form action="/edit_card/{{card.card_id}}"><button type="submit" class="btn btn-sm btn-outline-secondary">Edit</button></form>
      <form action="/hidecard/{{card.card_id}}" method="POST"><button type="submit" class="btn btn-sm btn-outline-secondary">Delete</button></form>
      </div>
    </div>
  </div>
</div>
 


<div class="modal" id="addKeywords{{card.card_id}}" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Publish {{card.title}}</h5>
        

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="{{ card.url }}" width="100" >
        <form action="/publish/{{card.card_id}}" method="POST">
        <p>Add keywords to make this card more searchable.</p>
        <textarea name="keywords" rows="4" cols="30" maxlength="100"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button name="publish" id="publish" type="submit" class="btn btn-primary">Publish as Template</button></form> 
      </div>
    </div>
  </div>
</div>
{% endfor %}

</div>
</div>
{% endblock %}