{% extends 'base.html' %}
{% block title %}Postcrafts{% endblock %}
{% block head %}
{% endblock%}
{% block body %}


<h1>Your Profile</h1>
<p>Get started by creating a brand new card or pick from one of our templates.</p>

<ul>
<li><a href="/{{user.user_id}}/new_card">Create new card</a></li>
<li><a href="/templates">Browse templates</a></li>
</ul>


<h2>Your Cards</h2>

{% for card in cards %}
  <div class="card" style="width: 18rem;">
    <img class="card-img-top"  src="{{ card.url }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-text">{{card.title}}</h5>
      <button name="publish" id="publish" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#addKeywords{{card.card_id}}">Publish</button>
      <a class="card_action" href="/sendcard/{{card.card_id}}">Send</a>
      <form action="/edit_card/{{card.card_id}}"><button type="submit" class="btn btn-link">Edit</button></form>
      <form action="/hidecard/{{card.card_id}}" method="POST"><button type="submit" class="btn btn-link">Delete</button></form>
      
    </div>
  </div>


<div class="modal" id="addKeywords{{card.card_id}}" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Publish {{card.title}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="{{ card.url }}" width="100" >
        <form action="/publish/{{card.card_id}}" method="POST">
        <p>Add keywords to make this card more searchable.</p>
        <textarea name="keywords" rows="4" cols="30" maxlength="100"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button name="publish" id="publish" type="submit" class="btn btn-primary">Publish as Template</button></form> 
      </div>
    </div>
  </div>
</div>
{% endfor %}


{% endblock %}