{% extends 'base.html' %}
{% block title %}Postcrafts{% endblock %}
{% block head %}
{% endblock%}
{% block body %}
<div>
<form action="/logout" >
  <button>Log out</button>
</form>

<h1>Your Profile</h1>
<p>Get started by creating a brand new card or pick from one of our templates.</p>

<ul>
<li><a href="/{{user.user_id}}/new_card">Create new card</a></li>
<li><a href="/templates">Browse templates</a></li>
</ul>
</div>
<div>
<h2>Your Cards</h2>

{% for card in cards %}
<div>
<p><b>{{card.title}}</b></p>
<img src="{{ card.url }}" width="100" >
<form action="/publish/{{card.card_id}}" method="POST"><button name="publish" id="publish">Publish as Template</button></form>
<a href="/sendcard/{{card.card_id}}">Send Card</a>
<form action="/hidecard/{{card.card_id}}" method="POST"><button name="hide_card" id="hide_card">Delete</button></form>
</div>
{% endfor %}
</div>
<div>
<h2>Outbox</h2>

<a href="/outbox/{{user.user_id}}">See all your sent cards</a>

</div>

<div>
<h2>Address Book</h2>
<a href="/addressbook/{{user.user_id}}">Go to your Address Book</a>

</div>


{% endblock %}